<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.UserDao">

    <resultMap id="UserBaseMap" type="com.heitian.ssm.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="pwd_salt" property="pwdSalt" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="modify_time" property="modifyTime" jdbcType="DATE"/>
        <result column="is_delete" property="isDelete" jdbcType="SMALLINT"></result>
    </resultMap>

    <select id="selectUserById" parameterType="java.lang.Long" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE id = #{userId}
    </select>

    <select id="selectUserByPhoneOrEmail" parameterType="string" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE user_email = #{phoneOrEmail} OR user_phone = #{phoneOrEmail} and is_delete!=1

    </select>

    <select id="selectAllUser" resultMap="UserBaseMap">
        SELECT * FROM t_user
    </select>


    <update id="deleteUserById" parameterType="short">
        UPDATE t_user set is_delete= 1 WHERE id =#{userId}

    </update>
    <!--这里是insert-->
    <!--<parameterMap id="userMap" type="com.heitian.ssm.model.User">-->
    <!--<parameter property="id" resultMap="F_ID"/>-->
    <!--<parameter property="name" resultMap="F_NAME"/>-->

    <!--</parameterMap>-->
    <!--<insert id="addUser" parameterType="com.heitian.ssm.model.User" >-->
        <!--INNER  into t_user(id,user_name,user_phone,user_email,user_pwd,pwd_salt,create_time,modify_time,isDelete)-->
    <!--VALUES  (#{user.},#{},#{userPhone},#{userPhone},#{userEmail},#{userPwd},#{pwdSalt},#{createTime},#{modifyTime},#{isDelete})-->


    <!--</insert>-->


</mapper>